---
layout: default-with-title
meta:
  robots: noindex
title: Formations, par importance
---

{% for i in (1..3) %}
<h2 class="mt-3">Importance {{ i }}</h2>

{% assign courses = site.courses | where: "importance", i | sort: "publication" | sort: "modification" | reverse %}
<p>{{ courses | size}} formations, pour un maximum de {{ i | times: 5 }}</p>

<table class="table table-hover table-striped" width="600">
    <tbody>
    {% for course in courses %}
    <tr>
        <td class="mini">{{ course.id }}</td>
        <td><span class="oneline"><a href="{{ course.url }}">{{ course.title }}</a></span></td>
        <td class="mini" title="description">
        {% if course.description %}
            D-{{ course.description | size }}
        {% else %}
            I-{{ course.introduction | first | size }}
        {% endif %}
        </td>
        <td class="mini" title="prerequisites">{% if course.prerequisites %}P{% endif %}</td>
        <td class="mini">{{ course.duration }} j.</td>
        <td class="mini">{{ course.price.intra }} € ({{ course.price-level }})</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endfor %}
