---
layout: default
title: Actualités de Sewatech
title-short: Actualités
description: Retrouvez les actualités des experts de Sewatech
redirects: 
- -actualites-.html
seo:
  '@type': WebPage
keywords:
- news
- formation
- présentation
---
{% assign ordered_news = site.news | sort: "publication" | reverse %}

<main class="row">
  <div class="col-md-12">
    <h1>Actualité</h1>
    <div class="well md10">
      <p>Retrouvez ici toutes les actualités de Sewatech : nouvelles formations, site Web, présentations publiques,...</p>
    </div>

    {% for actu in ordered_news %}
    <p><strong>{{ actu.title }}</strong> {% include formatted_date.html date=actu.publication format='(%-d %B %Y)' %}</p>
    {{ actu.content }}
    {% endfor %}
  </div>
</main>