---
layout: default
title: Plan du site
title-short: Plan du site
description: Sewatech, expertise et formation, plan du site
seo:
  '@type': WebPage
---
<h2><a href="{{ '/' | relative_url}}">Accueil</a></h2>

<h2><a href="{{ '/formations.html' | relative_url}}">Formations</a></h2>
<ul>
    {% for track_full in site.data.formation.tracks %}
    <li>
        <a href="{{ track_full.url }}" {% if track_full.archive %}class="archive"{% endif %}>{{ track_full.name }}</a>
        <ul>
            {% for course in track_full.courses %}
            <li>
                <a href="{{ course.url }}" title="Formation {{ course.title-short }}" {% if course.archive %}class="archive"{% endif %}>{{ course.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>

<h2><a href="{{ '/services.html' | relative_url}}">Expertise</a></h2>
<ul>
    {% for service in site.services %}
    <li>
        <a href="{{ service.url }}">{{ service.title }}</a>
    </li>
    {% endfor %}
</ul>

<h2><a href="{{ '/articles.html' | relative_url}}">Articles</a></h2>
<ul>
    {% assign articles = site.articles | sort: "publication" | reverse %}
    {% for article in articles %}
    <li>
        <a href="{{ article.url }}">{{ article.title }}</a>
    </li>
    {% endfor %}
</ul>

<h2><a href="{{ '/actualites.html' | relative_url}}">Actualités</a></h2>

<h2><a href="{{ '/contacts.html' | relative_url}}">Contacts</a></h2>
