---
layout: default
title: Recherche de formation
title-short: Recherche de formation
seo:
  '@type': WebPage
---

<div class="row">
    <div class="col-md-9 col-sm-12 col-12">
        <div class="mb-3">
            <label for="search-input" class="control-label fw-bold">Rechercher une formation&nbsp;</label>
            <input id="search-input" class="form-control" type="search">
        </div>

        <ul id="results-container"></ul>
    </div>
    <div class="col-md-3 col-sm-12 col-12">
        {% include course-tracks.html %}
    </div>
</div>

<script src="/js/simple-jekyll-search.min.js"></script>
<script>
var sjs = SimpleJekyllSearch({
  searchInput: document.getElementById('search-input'),
  resultsContainer: document.getElementById('results-container'),
  searchResultTemplate: '<li><a href="{url}" class="{class}">{title}</a></li>',
  json: '/search.json',
  limit: 20,
  noResultsText: 'Aucun résultat'
})

window.addEventListener("popstate", function(event) {
    init(event);
});
window.addEventListener("load", function(event) {
    var searchInput = document.getElementById("search-input");
    searchInput.addEventListener("input", function(input) {
        window.history.pushState({}, "" + input.value, "/search.html?q=" + this.value);
    });
    init(event);
});

function init(event) {
    var searchInput = document.getElementById("search-input");
    var urlParams = new URLSearchParams(window.location.search);
    var q = urlParams.get("q")

    setTimeout(() => {
        searchInput.value=q;
        sjs.search(q)
    }, 200)
}
</script>
