<aside class="col-md-3">
    <div class="card">
      <div class="card-header">
        <h2 class="card-title">
          <a href="formations.html">Autres articles</a>
          <a href="{{ 'feed/articles.xml' | relative_url }}" name="RSS" class="pull-right" title="Flux RSS des articles" aria-label="Flux RSS des articles"><i class="fa fa-rss-square orange"></i></a>
        </h2>
      </div>
      <ul class="list-group">
        {% assign articles = site.articles | reverse %}
        {% for article in articles limit:6 %}
        {% if page.id != article.id %}
          <li class="list-group-item"><a href="{{ article.url }}">{{ article.title }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
      <div class="card-footer">
      </div>
    </div>

    {% assign courses = "" | split: ";" %}
    {% for keyword in site.data.keywords %}
    {% if page.keywords contains keyword.key %}
    {% for course in keyword.courses sample:6 %}
      {% assign courses = courses | push: course %}
    {% endfor %}
    {% endif %}
    {% endfor %}
    {% assign courses = courses | uniq | sample:6 %}

    {% if courses.size > 0 %}
    <div class="card">
      <div class="card-header">
        <h2 class="card-title">
          <a href="formations.html">Formations sur le sujet</a>
        </h2>
      </div>
      <ul class="list-group">
        {% for course in courses limit:6 %}
          <li class="list-group-item"><a href="{{ course.url }}">{{ course.title }}</a></li>
        {% endfor %}
      </ul>
      <div class="card-footer">
      </div>
    </div>
    {% endif %}
</aside>
