    <div class="card no-print">
      <div class="card-header">
        <h2 class="card-title">
          <a href="formations.html">Fili&egrave;res de formation</a>
        </h2>
      </div>
      <ul class="list-group">
        {%- for track in site.data.formation.tracks -%}
        {% if track.archive != true %}
        <li class="list-group-item"><a href="{{ track.url }}">{{ track.name }}</a></li>
        {%- endif -%}
        {%- endfor -%}
      </ul>
      <div class="card-footer">
      </div>
    </div>