<aside class="col-md-5 course-details">
    {%- unless page.archive -%}
    <p>
    <a href="pdf{{ page.url | remove: ".html" }}.pdf"
      title='Enregistrer au format PDF' class="no-print">
      <img src='/images/formation/pdf.png' width='24' height='24'
           alt='Enregistrer au format PDF'>T&eacute;l&eacute;charger le PDF</a>
    {%- endunless -%}
    </p>

    <p class="side-title">Type de cours</p>
    <ul>
      <li>{{ page.type }}</li>
    </ul>

    <p class="side-title">Dur&eacute;e de la formation</p>
    <ul>
      {%- if page.duration -%}
        <li>{{ page.duration | unit: "jour" }}</li>
      {%- else -%}
        <li>sur mesure</li>
      {%- endif -%}
    </ul>

    {%- unless page.archive -%}
    <p class="side-title">Tarif</p>
    <p>
      <ul>
      {%- if page.price.intra -%}
        <li>{{ page.price.intra }} € HT (intra, jusqu'&agrave; 6 participants)</li>
      {%- else -%}
        <li>nous consulter</li>
      {%- endif -%}
      </ul>
    </p>
    <p class="side-title">Participants</p>
    <ul>
      <li>{{ page.target }}</li>
    </ul>
    {%- endunless -%}

    {%- if page.prerequisites -%}
    <p class="side-title">Prérequis</p>
    <ul>
    {%- for prerequisite in page.prerequisites -%}
      <li>{{ prerequisite }}</li>
    {%- endfor -%}
    </ul>
    {%- endif -%}

    {%- if page.practice -%}
    <p class="side-title">Travaux Pratiques</p>
    {{ page.practice }}
    {%- endif -%}
    {%- if page.practices -%}
    <p class="side-title">Travaux Pratiques</p>
    <ul>
      {%- for practice in page.practices -%}
        <li>{{ practice }}</li>
      {%- endfor -%}
    </ul>
    {%- endif -%}
    
    <p class="side-title"><a href="contacts.html">Inscriptions et renseignements</a></p>
    <ul>
      <li class="no-print">
        <script type="text/javascript" src="js/mail-formation.js"></script>
        <noscript><a href="{{ '/contacts.html' | relative_url }}">par mail</a></noscript>
      </li>
    </ul>

    <div class="card no-print">
      <div class="card-header">
        <h2 class="card-title">
          Autres formations de la <a href="{{ page.track_full.url }}">fili&egrave;re {{ page.track_full.name }}</a>
        </h2>
      </div>

      <ul class="list-group">
        {% for course in page.track_full.first_courses %}
        {%- if course.url != page.url -%}
        <li class="list-group-item">
          <a href="{{ course.url }}" style="font-weight: normal;" title="Formation {{ course.title-short }}">{{ course.title }}</a>
        </li>
        {%- endif -%}
        {%- endfor -%}
      </ul>
      <div class="card-footer">
      </div>
    </div>
    {% include course-tracks.html %}
  </aside>
