<footer class="row no-print">
    <div class="text-center col-12 py-2 sewatech ">
      &copy;2005-2021&nbsp;sewatech &nbsp; | &nbsp; <a href="plan.html">plan&nbsp;du&nbsp;site</a>
    </div>
</footer>

<script src="/js/bootstrap.bundle.min.js"></script>
