<header class="row no-print">
  <div class="bandeau col-12">
    {% assign collection = site.collections | find: 'label', page.collection %}
    <p class="titre">Sewatech - {{ collection['title'] | default:page.title-short | default: site.subtitle }}</p>
  </div>
  <nav class="navbar navbar-expand-md navbar-light navbar-custom bg-light-sw col-12">
    <a class="navbar-brand" href="."><img alt="Sewatech" src="{{ '/images/logo.png' | relative_url}}"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item"><a class="nav-link" href="{{ '/' | relative_url}}">accueil </a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            formations
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ '/formations-java.html' | relative_url}}">Java, langage et APIs</a>
            <a class="dropdown-item" href="{{ '/formations-javaee.html' | relative_url}}">Java EE</a>
            <a class="dropdown-item" href="{{ '/formations-frameworks-java.html' | relative_url}}">Frameworks et outils Java</a>
            <a class="dropdown-item" href="{{ '/formations-administration.html' | relative_url}}">DevOps & Admin</a>
          </div>
        </li>
        <li class="nav-item"><a class="nav-link" href="{{ '/services.html' | relative_url}}">expertise</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ 'articles.html' | relative_url}}">articles</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ 'contacts.html' | relative_url}}">contacts</a></li>
      </ul>
    </div>
  </nav>
</header>
