<form action="/search.html" method="get" role="search">
    <div class="d-flex flex-wrap">
        <label for="search-input" class="control-label fw-bold">Rechercher une formation&nbsp;</label>
        <div class="flex-fill d-flex">
            <input type="search" name="q" id="search-input" value="" class="form-control">
            <button class="btn btn-outline-secondary" aria-label="Search"><i class="fa fa-search" aria-hidden="true"></i></button>    
        </div>
    </div>
</form>
