<aside class="col-md-4">
  {% include search-input.html %}

  <div class="card">
    <div class="card-header">
      <h2 class="card-title">
        <a href="formations.html">Autres filières</a>
      </h2>
    </div>
    <ul class="list-group">
      {% for track in site.data.formation.tracks %}
      {% if track.archive != true %}
      <li class="list-group-item"><a href="{{ track.url }}">{{ track.name }}</a></li>
      {% endif %}
      {% endfor %}
    </ul>
    <div class="card-footer">
    </div>
  </div>
  <br>
</aside>