<!DOCTYPE html>
<html dir="ltr" lang="fr">

{% include head.html %}

<body>
  {% include piwik.html %}
  <div class="container">
    {% include header.html %}

    <main style="min-height: 300px" class="{{ page.layout }}">
      {{ content }}
    </main>

    {% include footer.html %}

  </div>
</body>

</html>
