---
layout: default
---

<div class="row">

<div class="col-md-12">
  <h1>Mot-clé <strong>{{ page.id }}</strong></h1>
</div>

<div class="col-md-10">
  <p>{{ page.description }}</p>

  <p>{{ page.words }}</p>

  <h2>Formations</h2>

  <ul>
  {% assign courses = site.data.courses | sort: "importance" %}
  {% for course in courses %}
  {% if course.keywords contains page.id %}
  <li><a href="{{ course.url }}" {% if course.archive %}class="archive"{% endif %}>{{ course.title }}</a></li>
  {% endif %}
  {% endfor %}
  </ul>

  <h2>Articles</h2>

  <ul>
  {% assign articles = site.articles | sort: "publication" | reverse %}
  {% for article in articles %}
  {% if article.keywords contains page.id %}
  <li><a href="{{ article.url }}">{{ article.title }}</a> (publié le {{ article.publication }})</li>
  {% endif %}
  {% endfor %}
  </ul>

</div>

</div>
