---
layout: default
---

<div class="row">
  <div class="col-md-3 no-padding">
    <div class="list-group">
      {% for service in site.services %}
      <a href="{{ service.url }}" class="list-group-item">{{ service.title-short }}</a>
      {% endfor %}
    </div>
  </div>

  <div class="col-md-9">
    {% if page.title %}<h1>{{ page.title }}</h1>{% endif %}

    {{ content }}
  </div>
</div>
