---
layout: default
---

<div class="row">

<div class="col-md-12">
  <h1>Profil de {{ page.title }}</h1>
  {% if page.logo %}
  <span style="float:left" class="mb-2 me-2">
    <img src="images/{{ page.logo }}" alt="{{ page.title }}" title="{{ page.title }}" width="150" height="150">
  </span>
  {% endif %}
  {{ page.content }}
</div>

<div class="col-md-10">
  <h2>Liste des formations dispensées par {{ page.title }}</h2>
  <ul>
    {% for track_full in site.data.formation.tracks %}
    
    {% assign track_courses = "" | split: ";" %}
    {% for course in track_full.courses %}
    {% if course.author == page.code or course.teachers contains page.code %}
      {% assign track_courses = track_courses | push: course %}
    {% endif %}
    {% endfor %}

    {% if track_courses.size > 0 %}
    <li>
      <a href="{{ track_full.url }}" {% if track_full.archive %}class="archive"{% endif %}>{{ track_full.name }}</a>
      <ul>
          {% for course in track_courses %}
          <li>
              <a href="{{ course.url }}" title="Formation {{ course.title-short }}" {% if course.archive %}class="archive"{% endif %}>{{ course.title }}</a>
          </li>
          {% endfor %}
      </ul>
    </li>
    {% endif %}
    {% endfor %}
</ul>
</div>

<div class="col-md-2">

  {% for link in page.links %}
  <p>
    <a href="{{ link.url }}">
      <img src="images/picto/{{ link.logo }}" 
           alt="{{ page.title }} sur {{ link.name }}" 
           title="Retrouvez la fiche de {{ page.title }} sur {{ link.name }}" 
           style="height: {{ link.height }}">
    </a>
  </p>
  {% endfor %}

</div>

</div>
