<!DOCTYPE html>
<html dir="ltr" lang="fr">

{% include head.html %}

<body>
  {% include piwik.html %}
  <div class="container">
    {% include header.html %}

    <main class="row">
      <div class="col-md-12">
        <div>
          <h1 style="display: inline-block" {% if page.archive %}class="archive"{% endif %}>{{ page.title | escape }}</h1>
        </div>
        {% assign my_variable = page.intro %}
        {% unless my_variable == nil %}
        <div class="well">
          {{ page.intro }}
        </div>
        {% endunless %}
      </div>
      <article class="col-md-8 programme">
        <table class="table table-hover table-sm table-striped borderless">
          <tbody>
            {% for course in page.track.courses %}
            {% if course.archive == false %}
            <tr>
              <td>
                <a href="{{ course.url }}" style="font-weight: normal;" title="Formation {{ course.title-short }}">
                  {{ course.title }}
                </a>
              </td>
              <td class="text-end">
                {{ course.duration | unit: "jour", "j." }}
              </td>
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </article>

      {% include track-side.html %}

    </main>

    {% include footer.html %}

  </div>
</body>

</html>