<!DOCTYPE html>
<html dir="ltr" lang="fr">

{% include head.html %}

<body>
  {% include piwik.html %}
  <div class="container">
    {% include header.html %}

    <main class="row">
      <div class="col-md-9">
        <div>
          {{ page.content }}
        </div>
      </div>
      <div class="col-md-3">
        {% include search-input.html %}
      </div>

      {% for track_full in site.data.formation.tracks %}
      {% if track_full.archive == nil or track_full.archive == false %}
      <div class="col-12 col-sm-12 col-md-6">
        <div class="card">
          <div class="card-header">
            <h2 class="card-title">
              <a href="{{ track_full.url }}">{{ track_full.name }}</a>
            </h2>
          </div>

          <table class="table table-hover table-sm table-striped borderless">
            <tbody>
              {% for course in track_full.first_courses %}
              <tr>
                <td>
                  <a href="{{ course.url }}" title="Formation {{ course.title-short }}">
                    {{ course.title }}</a>
                </td>
                <td class="text-end">
                  {{ course.duration | unit: "jour", "j." }}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <div class="side-footer">
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </main>

    {% include footer.html %}

  </div>
</body>

</html>