:root {
	--bs-font-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
	--bs-light: rgb(244, 244, 248);
	--sw-background: rgb(244, 244, 248);
	--sw-main-color: #004693;
	--bs-body-color: #333
}

html {
	font-size: 20px;
}

h1 {
    margin-top: 0;
    font-size: 1.8rem;
}
h2 {
	font-size: 1.5rem;
	font-weight: normal;
}
h3 {
    font-size: 1.1rem;
    font-weight: bold;
    color: #626262;
}

a {
	color: var(--sw-main-color);
	text-decoration: none;
}

li p {
	margin-bottom: 0;
}

// =========
//  Layout
// =========

.container {
	width: 100%;
	max-width: 1280px
}

.bandeau {
	display: none;
	padding: 0;
	p {
		padding: 30px 0px 30px 15px;
		margin:0;
	}
}

main {
	div.sect1:first-child {
		h2 {
			margin-top: 0;
		}
	}
	> h2:first-child {
		margin-top: 0;
	}
	&.services {
		h2 {
			font-size: 1.3rem;
		}
	}
}

article {
	margin-top: 20px;
	div.sect1:first-child {
		h2 {
			margin-top: 0;
		}
	}
	> h2:first-child {
		margin-top: 0;
	}
	&.programme {
		p {
			margin-bottom: 0;
		}
	}	
}

aside {
	margin-top: 20px;
	.card {
		margin-top: 20px;
		.card-title {
			font-size: 20px;
		}
		.card-header {
			border: none;
		}
	}
    p {
		margin-bottom: 5px;
	}
	p.side-title {
		margin-top: 10px;
		font-weight: bold;
	}
}

// =========
// Micro CSS
// =========

.no-padding {
   padding: 0;
}
.no-margin {
	margin: 0;
}
.margin-right {
	margin-right: 5px;
}
.margin-left {
	margin-left: 5px;
}

.borderless tbody tr td {
  border: none;
}

.borderless tbody tr td a {
	text-decoration:none;
	color: black;
}
.bg-light-sw {
	background-color: var(--sw-background);
}

.orange {
	color: orange;
}

.center {
	width: 100%;
	text-align: center;
	div {
	  text-align: left;
	  display: inline-block;
	  div {
		display: block;
	  }
	}
}
  
.width-80 {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}
.width-90 {
	width: 90%;
	margin-right: auto;
	margin-left: auto;
}
.margin-bottom-1 {
	margin-bottom: 2.5rem
}


// =============
// Custom styles
// =============

.sewatech {
	background-color: var(--sw-main-color);
	color: white;
	a {
		color: white;
	}
}

.archive {
	color: #666;
}
h1.archive:after, a.archive:after {
	content: " (archive)";
}

table.oneline {
	table-layout:fixed;
	width:100%;
}
td.oneline {
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	border: 1px solid black;
}
td.mini {
	width: 1px; 
	white-space: nowrap;
}
span.oneline {
	overflow: hidden;
	text-overflow: ellipsis;
	// white-space: nowrap;
}
.logo {
	max-width: 2.5rem;
	height: 3rem;
}

// ===================
// Bootstrap migration
// ===================

.navbar {
	margin-bottom: 1rem;
	padding: 0.25rem 0.75rem;
}
.navbar-custom .navbar-nav .nav-link {
    color: rgb(51, 51, 51);
}

.card {
	margin-bottom: 1rem;
}
.card-title {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1rem;
	color: inherit;
  
	> a,
	> small,
	> .small,
	> small > a,
	> .small > a {
	  color: inherit;
	}
}
.card-header {
	padding: 0.5rem 1rem;
	background-color: var(--sw-background);
}
.card-footer {
	background-color: var(--sw-background);
}
.card > .table + .card-body {
	border-top: 1px solid #ccc;
	padding: 0.75rem;
}
.card > .card-header + .list-group, 
.card > .list-group + .card-footer {
    border: none;
}

.card-body {
    padding: 0.5rem;
}


.list-group-item {
	padding: 2px 15px;
	font-size: 18px;
	&:first-child {
		border-radius: unset;
	}
	&:last-child {
		border-radius: unset;
	}
}
.card > .list-group > .list-group-item {
	border-left: none;
	border-right: none;
}

button.btn {
	margin-left: 4px;
	padding: 1px 5px;
	font-size: 1rem;
}
.table {
	margin-bottom: 0;
	--bs-table-striped-bg: #f9f9f9;
}
.table > :not(:first-child) {
    border-top: none;
}
.form-control {
	height: 1.75rem;
}
p {
    margin: 0 0 0.5rem;
}
.well {
    min-height: 1rem;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: var(--sw-background);
    border: 1px solid #ccc;
    border-radius: 4px;

	div.paragraph:last-child {
		p {
			margin-bottom: 0;
		}
	}
	> p:last-child {
		margin-bottom: 0;
	}
}
pre {
    display: block;
    padding: 0.5rem;
    margin: 0 0 0.5rem;
    font-size: 0.7rem;
    line-height: 1.5;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
	border-radius: 4px;

	code {
		white-space: pre-wrap;
	}
}