@media print{
	a[href]:after {
		content: "";
	}

	.no-print {
		display: none;
	}

	.well {
		background-image: linear-gradient(to bottom, #cccccc 0%, #e6e6e6 100%)!important;
		background-repeat: repeat-x!important;
		box-shadow: inset 0 1px 3px rgba(0, 0, 0, .05), 0 1px 0 rgba(255, 255, 255, .1);
	}

	.container {
		padding-top: 20px;
	}
}
