@media (max-width: 767px) {
	.navbar-brand {
		padding: 2px 10px;
	}
	.navbar-header {
		height: 80px;
	}
}

@media (min-width: 768px) {
	.autoheight > div[class*='col-'] {
		flex-direction: column
	}

	.navbar-brand {
		display: none;
	}

	.bandeau {
		display: inherit;
		background-image: url('../images/head.png');
		background-color: #004693;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: right center;
		line-height: 2.5;
		font-size: 32px;
		font-weight: bold;
		color: #FFF;
	}
}

@media (min-width: 992px) {
	.autoheight, .autoheight > div[class*='col-'] {
	    /*display: -webkit-flex;*/
	    display: flex;
	    flex: 1 1 auto;
	}
	.padding-right-md {
		padding-right: 10px;
	}
	.padding-left-md {
		padding-left: 10px;
	}

}
